{
  "name": "portfolio",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "wp-content/themes/twentynineteen/style-editor.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/variables-site/_variables-site.scss",
        "wp-content/themes/twentynineteen/sass/mixins/_mixins-master.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_colors.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_fonts.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_structure.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_columns.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_transitions.scss",
        "wp-content/themes/twentynineteen/sass/mixins/_utilities.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/style.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/variables-site/_variables-site.scss",
        "wp-content/themes/twentynineteen/sass/mixins/_mixins-master.scss",
        "wp-content/themes/twentynineteen/sass/_normalize.scss",
        "wp-content/themes/twentynineteen/sass/typography/_typography.scss",
        "wp-content/themes/twentynineteen/sass/elements/_elements.scss",
        "wp-content/themes/twentynineteen/sass/forms/_forms.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_navigation.scss",
        "wp-content/themes/twentynineteen/sass/modules/_accessibility.scss",
        "wp-content/themes/twentynineteen/sass/modules/_alignments.scss",
        "wp-content/themes/twentynineteen/sass/modules/_clearings.scss",
        "wp-content/themes/twentynineteen/sass/layout/_layout.scss",
        "wp-content/themes/twentynineteen/sass/site/_site.scss",
        "wp-content/themes/twentynineteen/sass/site/secondary/_widgets.scss",
        "wp-content/themes/twentynineteen/sass/blocks/_blocks.scss",
        "wp-content/themes/twentynineteen/sass/media/_media.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_colors.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_fonts.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_structure.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_columns.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_transitions.scss",
        "wp-content/themes/twentynineteen/sass/mixins/_utilities.scss",
        "wp-content/themes/twentynineteen/sass/typography/_headings.scss",
        "wp-content/themes/twentynineteen/sass/typography/_copy.scss",
        "wp-content/themes/twentynineteen/sass/elements/_lists.scss",
        "wp-content/themes/twentynineteen/sass/elements/_tables.scss",
        "wp-content/themes/twentynineteen/sass/forms/_buttons.scss",
        "wp-content/themes/twentynineteen/sass/forms/_fields.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_links.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_menu-main-navigation.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_menu-social-navigation.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_menu-footer-navigation.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_next-previous.scss",
        "wp-content/themes/twentynineteen/sass/site/header/_site-header.scss",
        "wp-content/themes/twentynineteen/sass/site/header/_site-featured-image.scss",
        "wp-content/themes/twentynineteen/sass/site/primary/_posts-and-pages.scss",
        "wp-content/themes/twentynineteen/sass/site/primary/_comments.scss",
        "wp-content/themes/twentynineteen/sass/site/primary/_archives.scss",
        "wp-content/themes/twentynineteen/sass/site/footer/_site-footer.scss",
        "wp-content/themes/twentynineteen/sass/media/_captions.scss",
        "wp-content/themes/twentynineteen/sass/media/_galleries.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/elements/_elements.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/elements/_lists.scss",
        "wp-content/themes/twentynineteen/sass/elements/_tables.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/forms/_forms.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/forms/_buttons.scss",
        "wp-content/themes/twentynineteen/sass/forms/_fields.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/media/_media.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/media/_captions.scss",
        "wp-content/themes/twentynineteen/sass/media/_galleries.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/mixins/_mixins-master.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/mixins/_utilities.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/navigation/_navigation.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/navigation/_links.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_menu-main-navigation.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_menu-social-navigation.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_menu-footer-navigation.scss",
        "wp-content/themes/twentynineteen/sass/navigation/_next-previous.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/site/_site.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/site/header/_site-header.scss",
        "wp-content/themes/twentynineteen/sass/site/header/_site-featured-image.scss",
        "wp-content/themes/twentynineteen/sass/site/primary/_posts-and-pages.scss",
        "wp-content/themes/twentynineteen/sass/site/primary/_comments.scss",
        "wp-content/themes/twentynineteen/sass/site/primary/_archives.scss",
        "wp-content/themes/twentynineteen/sass/site/footer/_site-footer.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/typography/_typography.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/typography/_headings.scss",
        "wp-content/themes/twentynineteen/sass/typography/_copy.scss"
      ]
    },
    {
      "path": "wp-content/themes/twentynineteen/sass/variables-site/_variables-site.scss",
      "imports": [
        "wp-content/themes/twentynineteen/sass/variables-site/_colors.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_fonts.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_structure.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_columns.scss",
        "wp-content/themes/twentynineteen/sass/variables-site/_transitions.scss"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/css/acf-dark.scss",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_dark.scss"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/css/acf-field-group.scss",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_variables.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_mixins.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_field-group.scss"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/css/acf-global.scss",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_variables.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_mixins.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_global.scss"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/css/acf-input.scss",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_variables.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_mixins.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_fields.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_forms.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_media.scss",
        "wp-content/plugins/advanced-custom-fields/assets/build/css/_input.scss"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/js/acf-field-group.js",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-field.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-settings.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-conditions.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-fields.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-locations.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-compatibility.js"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/js/acf-field-group.min.js",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-field.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-settings.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-conditions.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-fields.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-locations.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_field-group-compatibility.js"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/js/acf-input.js",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-hooks.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-model.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-popup.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-unload.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-panel.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-notice.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-postbox.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-tooltip.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-fields.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-accordion.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-button-group.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-checkbox.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-color-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-date-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-date-time-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-google-map.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-image.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-file.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-link.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-oembed.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-radio.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-range.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-relationship.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-select.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-tab.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-post-object.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-page-link.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-user.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-taxonomy.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-time-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-true-false.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-url.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-wysiwyg.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-condition.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-conditions.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-condition-types.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-media.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-screen.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-select2.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-tinymce.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-validation.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-helpers.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-compatibility.js"
      ]
    },
    {
      "path": "wp-content/plugins/advanced-custom-fields/assets/build/js/acf-input.min.js",
      "imports": [
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-hooks.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-model.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-popup.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-unload.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-panel.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-notice.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-postbox.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-tooltip.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-fields.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-accordion.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-button-group.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-checkbox.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-color-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-date-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-date-time-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-google-map.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-image.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-file.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-link.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-oembed.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-radio.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-range.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-relationship.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-select.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-tab.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-post-object.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-page-link.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-user.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-taxonomy.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-time-picker.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-true-false.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-url.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-field-wysiwyg.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-condition.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-conditions.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-condition-types.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-media.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-screen.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-select2.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-tinymce.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-validation.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-helpers.js",
        "wp-content/plugins/advanced-custom-fields/assets/build/js/_acf-compatibility.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}