@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.hidden{
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

#burger{
  position: absolute;
  right: 0;
  top: 0;
  color: #1A1A20;
  background: #A77F4E;
  font-size: 32px;
  padding: 16px;
  cursor: pointer;
  z-index: 2;
}

#quit{
  position: fixed;
  top: 0;
  right: 0;
  color: #1A1A20;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
  z-index: 3;
}

#links{
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 15vh 0;
  justify-content: space-around;
  transition: 1s;
}

#links a{
  text-align: center;
  text-decoration: none;
  color: #1A1A20;
  font-size: 2em;
  z-index: 10;
  transition: 3s;
}

.introduction{
  display: grid;
  grid-template-columns: 1fr 1fr 62px;
  height: 100vh;
  &::after{
    content: "Goran";
    text-transform: uppercase;
    position: absolute;
    top: 81.71vh;
    left: -0.3vw;
    font-family: 'Roboto', sans-serif;
    font-size: 17.5em;
    font-weight: 900;
    color: #A77F4E;
    z-index: -1;
  }
}

.h1__img {
  width: 17vw;
  position: relative;
  top: 3.43vh;
  left: 3.6%;
  min-width: 230px;
  max-width: 420px;
}

h1{
  height: 0px;
}

.background__pic{
  background-color: #1A1A20;
  position: relative;
  img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
  }
}


.text {
  padding-top: 32.2vh;
  margin-left: 19.4%; }

.text p {
  font-size: 1.6875em; //27px
  color: #4C4C4F;}

.text p:last-of-type {
  padding-top: 4%; //30px
  line-height: 35px;}

.text span {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #A77F4E;
  font-size: 4em; //108px
  font-weight: 600;
  margin-left: -1%;}




.intro__links {
  margin-top: 6.3%;
}

.intro__links a {
  font-size: 1.875em;
  padding: 1px;
  border-bottom: 3px solid #A77F4E;
  color: #4C4C4F;
  &::after{
    content: ">";
    margin-left: 6px;
  }
  &:first-of-type{
    margin-right: 12.5%;
  }}


.social__media{
  background-color: #4C4C4F;
  display: flex;
  .media__p{
    visibility: hidden;
  }
}

.media__ul{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  li{
    text-align: center;
    border: 2px solid white;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    &:nth-child(2n){
      margin: 5.17vh 0;
    }
  }
  .vertical__line{
    border: none;
    height: 19.7vh;
    width: 0;
    div{
      border-right: 2px solid white;
      height: 19.7vh;
    }
  }
  svg{
    fill: white;
    height: 25px;
    width: 25px;
    margin-top: 5px;
  }
}