@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  background-color: #1A1B20;
  color: #C1BEBF;
  font-family: 'Lato', sans-serif;
}

main:not(.index__main){
  padding-left: 3.6%;
  padding-right: 3.6%;
}

main{
  max-width: 2400px;
  margin: 0 auto;
  min-height: calc(100vh - 30px);
}

.background__pic{
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: right;
}

@media (max-width: 1300px) {
  .background__pic{
    background-position: center;
  }
}

@media (max-width: 930px) {
  .background__pic{
    background-position: left;
  }
  .index__main{
    padding-right: 3.6%;
  }
  div.introduction{
    margin-right: 5.8%;
    padding-top: 25vh;
  }

}

header{
  position: absolute;
  width: 100%;
  top: 0;
}

.h1__img{
  width: 17vw;
  margin-top: 35px;
  padding-left: 3.6%;
  min-width: 230px;
  max-width: 420px;
}

a{
  text-decoration: none;
}

.hidden{
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

#burger{
  position: fixed;
  right: 0;
  top: 0;
  color: #1A1A20;
  background: #A77F4E;
  font-size: 32px;
  padding: 16px;
  cursor: pointer;
  z-index: 2;
}

#quit{
  position: fixed;
  top: 0;
  right: 0;
  color: #1A1A20;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
  z-index: 3;
}

#links{
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 15vh 0;
  justify-content: space-around;
  transition: 1s;
}

#links a{
  text-align: center;
  text-decoration: none;
  color: #1A1A20;
  font-size: 2em;
  z-index: 10;
  transition: 3s;
}

.introduction{
  padding-top: 36.2vh;
  margin-left: 5.8%;
  span{
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #C1BEBF;
    font-size: 108px;
    font-weight: 500;
  }
  p {
    font-size: 22px;
    color: #A77F4E;
    &:last-of-type{
      padding-top: 40px;
      line-height: 35px;
    }
  }
}

.intro__links{
  margin-top: 50px;
  a{
    color: #1A1A20;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 35px;
    border-radius: 50px;
    background-color: #C1BEBF;
    border: 3px solid #C1BEBF;
    &:active{
      background-color: transparent;
      color: #C1BEBF;
    }
    &:first-of-type{
      background-color: #A77F4E;
      margin-right: 20px;
      border: 3px solid #A77F4E;
      &:active{
        background-color: transparent;
        color: #A77F4E;
      }
    }
  }
}

.social__media{
  position: absolute;
  top: 93vh;
  display: flex;
  flex-direction: column-reverse;
  font-size: 18px;
  padding-left: 3.6%;
  li{
    display: inline-block;
    padding-right: 60px;
  }
  p, img{
    display: inline-block;
  }
  a{
    color: #C1BEBF;
    &:hover{
      color: #A77F4E;
      svg{
        fill: #A77F4E;
      }
    }
  }
  svg{
    fill: #C1BEBF;
    margin-right: 5px;
  }
}

.contact{
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 22px;
  h2{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-bottom: 12px;
  }
}

.contact__ul{
  margin-top: 100px;
  display: flex;
  flex-direction: column-reverse;
  li{
    display: inline-block;
    padding-right: 60px;
    &:last-of-type{
      margin-bottom: 10px;
    }
  }
  p, img{
    display: inline-block;
  }
  a{
    color: #C1BEBF;
    &:hover{
      color: #A77F4E;
      svg{
        fill: #A77F4E;
      }
    }
  }
  svg{
    fill: #C1BEBF;
    margin-right: 5px;
  }
}

footer{
  background-color: #C1BEBF;
  text-align: center;
  font-size: 15px;
  padding: 10px 0px;
  z-index: 0;
  width: 100%;
  a{
    color: #1A1A20;
  }
}


input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #C1BEBF;
  color: #C1BEBF;
  padding: 5px 0;
  width: 100%;
}

label{
  text-transform: uppercase;
  color: #C1BEBF;
}

.contact__right{
  width: 49%;
  margin-top: 189px;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  p:first-of-type, p:nth-child(3){
    width: 48%;
  }
  p:nth-child(4){
    margin-top: 40px;
    width: 100%;
    textarea{
      width: 100%;
      margin: 5px 0;
      padding: 5px 0;
      height: 1em;
      border: none;
      border-bottom: 2px solid #C1BEBF;
      background-color: transparent;
      color: #C1BEBF;
    }
  }
}

.wpcf7-submit{
  margin-top: 40px;
  color: #1A1A20;
  padding: 2px 35px;
  border-radius: 50px;
  background-color: #A77F4E;
  font-size: 22px;
  cursor: pointer;
  border: 3px solid #A77F4E;
  &:active{
    background-color: transparent;
    color: #A77F4E;
  }
}


.no-page_main{
  padding-top: 45vh;
  text-align: center;
  a {
    color: #1A1A20;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #A77F4E;
    border: 3px solid #A77F4E;

    &:hover {
      background-color: transparent;
      color: #A77F4E;
    }
  }
}

.no-page_title{
  font-size: 6em;
  margin-bottom: 70px;
}

.about, .main__single, .contact__main{
  padding-top: 200px;
  font-size: 22px;
  h2{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.about__content{
  margin-top: 140px;
  margin-right: 15.6%;
  display: flex;
  justify-content: space-between;
}

.about__description{
  p{
    margin-bottom: 30px;
    max-width: 700px;
    line-height: 115%;
    width: 35vw;
  }
}

.about__experience{
  width: 900px;
  margin-left: 23.4%;
  max-width: 80vw;
}

.description__title, .experience__title{
  font-size: 30px;
  margin-bottom: 30px;
}

.exp{
  margin-bottom: 30px;
  line-height: 26px;
  p:first-of-type{
    font-size: 24px;
  }
  h4{
    color: #A77F4E;
    font-size: 20px;
  }
  p:last-of-type{
    font-size: 20px;
  }
}

.about__links{
  margin-top: 50px;
  a{
    color: #1A1A20;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 35px;
    border-radius: 50px;
    background-color: #C1BEBF;
    border: 3px solid #C1BEBF;
    &:active{
      background-color: transparent;
      color: #C1BEBF;
    }
  }
}

a.about__first-link{
  background-color: #A77F4E;
  margin-right: 20px;
  border: 3px solid #A77F4E;
  &:active{
    background-color: transparent;
    color: #A77F4E;
  }
}

.main__projects{
  padding-top: 200px;
  font-size: 22px;
  h2{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.projects__content{
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.project{
  max-width: 432px;
  margin-bottom: 40px;
  padding: 0 5px;
  img{
    width: 100%;
  }
}

.project__title{
  color: #1A1A20;
  background-color: #A77F4E;
  width: 100%;
  text-align: center;
  h3{
    padding: 20px 0;
  }
}

.project__first-part{
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;
}

.main__single{
  margin-right: 5.8%;
  padding-right: 3.6%;
  h2{
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.project_description{
  max-width: 552px;
}

.project_links{
  display: flex;
  margin-top: 50px;
  li{
    display: inline-block;
    padding-right: 60px;
    a{
      color: #C1BEBF;
      &:hover{
        color: #A77F4E;
        svg{
          fill: #A77F4E;
        }
      }
    }
    svg{
      fill: #C1BEBF;
      margin-right: 5px;
    }
    p{
      display: inline-block;
    }
  }
}

.project_full-screen{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 145px;
}

.index__main{
  height: 100vh;
  padding-bottom: 0;
}

@media (max-width: 800px) {
  .media__li .media__p{
    visibility: hidden;
    width: 0px;
  }
  .social__media{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    li:last-of-type{
      padding-right: 0px;
    }
  }
  .introduction{
    span{
      font-size: 2.2em;
    }
    p{
      font-size: 1.2em;
      &:last-of-type{
        padding-top: 25px;
        line-height: normal;
      }
    }
  }
  .intro__links{
    margin-top: 30px;
    a{
      font-size: 1.2em;
    }
  }
}

@media (max-width: 500px) {
  .intro__links a{
    display: inline-block;
  }
  .intro__first-link{
    margin-bottom: 10px;
  }
}

main.contact__main{
  min-height: calc(100vh - 255px);
  margin-bottom: 25px;
}

.social__contact{
  margin-top: 35px;
  li{
    display: block;
    padding-bottom: 10px;
  }
  p, img{
    display: inline-block;
  }
  a{
    color: #C1BEBF;
    &:hover{
      color: #A77F4E;
      svg{
        fill: #A77F4E;
      }
    }
  }
  svg{
    fill: #C1BEBF;
    margin-right: 5px;
  }
}

.required__labels{
  font-size: 11px;
  margin-top: 10px;
}

.screen-reader-response, .wpcf7-not-valid-tip{
  font-size: 11px;
  margin-bottom: 10px;
  color: red;
  text-transform: lowercase;
}

.wpcf7-response-output{
  display: none;
}

@media (max-width: 775px) {
  .about__content{
    flex-direction: column;
    margin-top: 100px;
    .about__description p {
      width: 100%;
    }
    .about__experience{
      margin-left: 0;
    }
    .about__links{
      position: relative;
      top: 370px;
    }
  }
  .about__sub-title{
    width: 80vw;
  }
}

div.about__links div{
  display: inline;
}

@media (max-width: 1150px) {
  div.about__links div{
    display: block;
    margin-top: 35px;
  }
}

@media (min-width:1179px) and (max-width:1631px) {
  .projects__content{
    justify-content: space-around;
  }
}

@media (max-width:1087px) {
  .projects__content{
    justify-content: center;
  }
}

.other_projects .other__content{
  display:flex;
  justify-content: space-around;
}

@media (max-width:1250px) {
  .project_vignette{
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
  }
}

@media (max-width:1000px) {
  .project_vignette{
    display: none;
  }
}

@media (max-width:1125px) {
  .full-screen_img{
    width: 100%;
  }
}

@media (max-width:666px) {
  .links_li:last-child{
    margin-top: 15px;
  }
}

@media (max-width:530px) {
  .other__content{
    flex-direction: column;
  }
}

@media (max-width:340px) {
  .project_links li p{
    font-size: 18px;
  }
}

@media (max-width:2500px) {
  main.contact__main{
    padding-left: 0;
    margin-left: 0;
  }
  .about, .main__single, .contact__main{
    margin-left: 5.8%;
  }
  .main__projects{
    margin-left: 5.8%;
    margin-right: 5.8%;
  }
}

@media (max-width:950px) {
  .contact{
    flex-direction: column;
    .social__contact, .contact__ul, .media__li{
      display: inline-block;
    }
    a p{
      display: none;
    }
    li{
      padding: 0;
    }
    svg{
      padding: 5px 15px;
      fill: #1A1A20;
      background-color: #A77F4E;
    }
  }
  .contact__ul{
    display: inline-block;
    margin-top: 50px;
  }
  .contact__right{
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width:500px) {
  .contact{
    svg{
      padding: 5px 10px;
      height: 23px;
      width: 23px;
    }
  }
}

@media (max-width:380px) {
  .contact{
    svg{
      padding: 5px 8px;
      height: 18px;
      width: 18px;
    }
    form p:nth-child(2), form p:nth-child(3){
      width: 100%;
    }
    form p:nth-child(3), form p:nth-child(4){
      margin-top: 20px;
    }
  }
}