@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  background-color: #1A1B20;
  color: #C1BEBF;
  font-family: 'Lato', sans-serif;
}

main:not(.background__pic){
  padding-left: 3.6%;
}

main{
  padding-bottom: 230px;
}

.background__pic{
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

header{
  position: absolute;
  width: 100%;
}

.h1__img{
  width: 17vw;
  margin-top: 35px;
  padding-left: 3.6%;
}

a{
  text-decoration: none;
}

.hidden{
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

#burger{
  position: fixed;
  right: 0;
  top: 0;
  color: #1A1A20;
  background: #A77F4E;
  font-size: 32px;
  padding: 16px;
  transition: 1s;
  cursor: pointer;
}

#quit{
  position: fixed;
  top: 0;
  color: #1A1A20;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
  transition: 3s;
}

#links{
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 15vh 0;
  justify-content: space-around;
  transition: 3s;
}

#links a{
  text-align: center;
  text-decoration: none;
  color: #1A1A20;
  font-size: 2em;
  z-index: 10;
  transition: 3s;
}

.introduction{
  padding-top: 36.2vh;
  margin-left: 5.8%;
  span{
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #C1BEBF;
    font-size: 108px;
    font-weight: 500;
  }
  p {
    font-size: 22px;
    color: #A77F4E;
    &:last-of-type{
      padding-top: 40px;
      line-height: 35px;
    }
  }
}

.intro__links{
  margin-top: 50px;
  a{
    color: #1A1A20;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 33px;
    border-radius: 50px;
    background-color: #C1BEBF;
    &:first-of-type{
      background-color: #A77F4E;
      margin-right: 20px;
    }
  }
}

.social__media{
  position: absolute;
  top: 93.5vh;
  display: flex;
  flex-direction: column-reverse;
  font-size: 18px;
  li{
    display: inline-block;
    padding-right: 60px;
  }
  p, img{
    display: inline-block;
  }
  img{
    vertical-align: text-bottom;
  }
  a{
    color: #C1BEBF;
  }
  svg{
    fill: #C1BEBF;
  }
}

.contact{
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 189px;
  font-size: 22px;
  h2{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-bottom: 12px;
  }
}

.contact__ul{
  margin-top: 100px;
  display: flex;
  flex-direction: column-reverse;
  li{
    display: inline-block;
    padding-right: 60px;
    &:last-of-type{
      margin-bottom: 10px;
    }
  }
  p, img{
    display: inline-block;
  }
  img{
    vertical-align: text-bottom;
  }
  a{
    color: #C1BEBF;
  }
  svg{
    fill: #C1BEBF;
  }
}

footer{
  background-color: #C1BEBF;
  text-align: center;
  font-size: 15px;
  padding: 10px 0px;
  a{
    color: #1A1A20;
  }
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #C1BEBF;
  color: #C1BEBF;
  padding: 5px 0;
  width: 100%;
}

label{
  text-transform: uppercase;
  color: #A77F4E;
}

.contact__right{
  width: 49%;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  p:first-of-type, p:nth-child(3){
    width: 48%;
  }
  p:nth-child(4){
    margin-top: 40px;
    width: 100%;
    label{
    }
    textarea{
      width: 100%;
      margin: 5px 0;
      padding: 5px 0;
      height: 1em;
      border: none;
      border-bottom: 2px solid #C1BEBF;
      background-color: transparent;
      color: #C1BEBF;
    }
  }
}

.wpcf7-submit{
  margin-top: 40px;
  color: #1A1A20;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #A77F4E;
  border: none;
}


